* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #0a141d;
    font-family: 'Lora', serif;
}


header {
  width: 100%;
  background: rgb(15, 7, 6);
  padding: 0 20px ;
  display: flex;
  position: fixed;
  z-index: 100;
  top: 0;
}

.menu-toggle {
  display: none;
  margin-left: auto;
  color: aliceblue;
  line-height: 60px;
  font-size: 25px;
  cursor: pointer;
}

.logo a {
  width: 100%;
  height: auto;
  color: aquamarine;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menu {
  margin-left: auto;
}

#menu ul li {
  display: inline-block;
}

#menu ul li a {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  line-height: 60px;
  padding: 0 8px;
  text-transform: uppercase;
  transition: .2s;
}

#menu ul li a:hover {
  background: #f3f3;
}

.show {
  height: 309px !important;
}

@media screen and (max-width:700px) {
  .menu-toggle {
    display: block;
}

  #menu {
    background: rgb(15, 7, 6);
    position: absolute;
    z-index: 10;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    border: 1px solid #fff;
    overflow: hidden;
    transition: .3s ease-out;
  }

  #menu ul li {
    display: block;
    text-align: center;
  }

  #menu ul li a{
    color: #fff;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    width: 100%;
  }

  #menu ul li a:hover {
    background: #f3f3;
  }
}

#datos-personales {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 10px;
    box-shadow: 2px 2px 7px rgb(187, 198, 214);
    border-radius: 10px;
}


#datos-personales h2 {
  width: 100%;
  height: auto;
  background: linear-gradient(to right, rgb(0, 49, 148), rgb(0, 179, 255));
  margin-top: 0;
  margin: 40px 0;
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;
  padding: 5px;
  box-shadow: 0px 2px 5px gray;
  font-family: 'Oswald', sans-serif;
}

#datos-personales ul li {
  display: block;
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
}

#datos-academicos {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  padding: 10px;
  box-shadow: 2px 2px 7px rgb(187, 198, 214);
  border-radius: 10px;
}

#datos-academicos h2 {
  width: 100%;
  height: auto;
  background: linear-gradient(to right, rgb(0, 49, 148), rgb(0, 179, 255));
  margin-top: 0;
  margin: 60px 0;
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;
  padding: 5px;
  box-shadow: 0px 2px 5px gray;
  font-family: 'Oswald', sans-serif;
}

#datos-academicos ul li span {
  display: block;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
#datos-academicos ul li h3 {
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  
}
.fotos-adro {
  height: auto;
  border: 5px solid black;
  max-width: 800px;
  margin-left: 250px;
}

.fotos-adro img {
  width: 100%;
  height: 100%;
}
.fotos-uba {
  height: auto;
  border: 5px solid black;
  max-width: 800px;
  margin-left: 250px;
  margin-bottom: 20px;
}

@media screen and (max-width:1200px) {
  .fotos-adro {
    height: auto;
    border: 5px solid black;
    max-width: 1200px;
    margin-left: 0;
  }
}

@media screen and (max-width:1200px) {
  .fotos-uba {
    height: auto;
    border: 5px solid black;
    max-width: 1200px;
    margin-left: 0;
  }
}

.experiencia-profecional {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  padding: 10px;
  box-shadow: 2px 2px 7px rgb(187, 198, 214);
  border-radius: 10px;
}
.experiencia-profecional h2 {
  width: 100%;
  height: auto;
  background: linear-gradient(to right, rgb(0, 49, 148), rgb(0, 179, 255));
  margin-top: 0;
  margin: 60px 0;
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;
  padding: 5px;
  box-shadow: 0px 2px 5px gray;
  font-family: 'Oswald', sans-serif;
}

.experiencia-profecional h3 {
  font-family: 'Aboreto', cursive;
}


.e-p h3 {
  display: block;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.e-p p {
  display: block;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.slider_container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  position: relative;
  border: 5px solid black;
  overflow: hidden;
}
.slider{
  width: 300%;
  height: 400px;
  display: flex;
  margin-left: -100%; 
}
.foto-b-n {
  width: 100%;
}
.foto-banco {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.slider__btn:hover {
  background: #fff;
}

.boton-izq {
  left: 10px;
}

.boton-der {
  right: 10px;
}

.fotos-w {
  width: 100%;
}
.fotos-walmart {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}




#capacitaciones {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  padding: 10px;
  box-shadow: 2px 2px 7px rgb(187, 198, 214);
  border-radius: 10px;
}
#capacitaciones h2 {
  width: 100%;
  height: auto;
  background: linear-gradient(to right, rgb(0, 49, 148), rgb(0, 179, 255));
  margin-top: 0;
  margin: 60px 0;
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;
  padding: 5px;
  box-shadow: 0px 2px 5px gray;
  font-family: 'Oswald', sans-serif;
}
#capacitaciones ul li {
  display: block;
  font-size: 25px;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
}
#foto-curso1 {
  width: 100%;
  height: auto;
  max-width: 800px;
}
#foto-curso2 {
  width: 100%;
  height: auto;
  max-width: 800px;
}

#mas-sobre-mi {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  padding: 10px;
}
#mas-sobre-mi h2 {
  width: 100%;
  height: auto;
  background: linear-gradient(to right, rgb(0, 49, 148), rgb(0, 179, 255));
  margin-top: 0;
  margin: 60px 0;
  text-align: center;
  text-transform: uppercase;
  color: aliceblue;
  padding: 5px;
  box-shadow: 0px 2px 5px gray;
  font-family: 'Oswald', sans-serif;
}
#mas-sobre-mi p {
  margin-top: 30px;
  margin-bottom: 30px;
}

#hobby h2 {
  width: 100%;
  height: auto;
  margin-top: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(to right, rgb(128, 0, 0), rgb(255, 0, 85));
  padding: 5px;
  box-shadow: 0px 2px 5px rgb(211, 35, 35);
  font-family: 'Josefin Sans', sans-serif;
}
.hobbys {
  padding: 10px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255);

}

.hobbys img {
  border: 3px solid black;
  width: 100%;
  height: auto;
  border-radius: 6px;
  box-shadow: 0px 15px 25px 
  rgba(0,0,0,0.50);

}
.hobbys h3 {
  text-align: center;
  font-size: 30px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 700px) {
  [class*="col-"] {
    width: 100%;
  }
}
[class*="col-"] {
  float: left;
  padding: 15px;
}  

.pie-pagina {
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: #0a141d;
}
.pie-pagina .box {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.pie-pagina .box h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  color: #fff;
  text-align: center;
}
.pie-pagina .box .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: 300ms ease;
}
.pie-pagina .box .red-social a:hover {
  color: aqua;
}

.pie-pagina .copi{
  width: 100%;
  background-color: #0a1a2a;
  color: #fff;
  text-align: center;
  padding: 15px 10px;

}
.pie-pagina .copi small {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
}

@media screen and (max-width: 700px) {
  .pie-pagina {
    width: 100%;
    height: auto;
    padding: 40px;
    background-color: #0a141d;
  }

}
